quickshell.conf
wallpapers/Cirno/*
wallpapers/day/*
wallpapers/evening/*
wallpapers/fog/day/*
wallpapers/fog/evening/*
wallpapers/fog/night/*
wallpapers/night/*
wallpapers/rain/day/*
wallpapers/rain/evening/*
wallpapers/rain/night/*
